@font-face {
  font-family: 'Rubik';
  font-display: auto;
  src: url("fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  src: url("fonts/Rubik/Rubik-Regular.ttf") format("trutype");
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  src: url("fonts/Rubik/Rubik-Medium.ttf") format("trutype");
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  src: url("fonts/Rubik/Rubik-Bold.ttf") format("trutype");
  font-weight: bold;
}

@font-face {
  font-family: 'Rubik';
  font-display: auto;
  src: url("fonts/Rubik/Rubik-Black.ttf") format("trutype");
  font-weight: 900;
}

//Lava Pro

@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: 'Spectral';
  font-display: auto;
  src: url("fonts/Spectral/Spectral-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: 'TTNorms';
  font-display: auto;
  src: url("fonts/TT-Norms-Fonts/TTNorms-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'TTNorms';
  font-display: auto;
  src: url("fonts/TT-Norms-Fonts/TTNorms-Regular.otf") format("trutype");
  font-weight: normal;
}

@font-face {
  font-family: 'TTNorms';
  font-display: auto;
  src: url("fonts/TT-Norms-Fonts/TTNorms-Bold.otf") format("trutype");
  font-weight: 500;
}