@import 'fonts';
@import 'reset';
@import 'variables';
@import 'mixins/mixins';
@import 'mixins/tooltips';

@import 'jodit.min.css';
@import '_bootstrap';
@import 'header/index';
@import '../../node_modules/animate-sass/animate';
@import '~react-smartbanner/dist/main.css';
@import 'partials/**/*.scss';
@import 'modals/**/*.scss';
@import 'dropdowns/**/*.scss';
@import 'menus/**/*.scss';
@import 'sidebars/**/*.scss';
@import 'layouts/**/*.scss';
@import 'education/**/*.scss';
@import 'pages/**/*.scss';
@import 'pages/payment-success.scss';
@import 'pages/notifications';

// TODO: should be removed
@import 'old/**/**/*.scss';

video{
  outline: none;
}
@media all and (min-width: $tablet) {
  .desktop-hide{
    display: none ;
  }
}
@media all and (max-width: $tablet) {
  .mobile-hide{
    display: none ;
  }
}

//.fade-enter {
//  opacity: 0;
//  z-index: 1;
//}
//
//.fade-enter.fade-enter-active {
//  opacity: 1;
//  transition: opacity 500ms;
//}


.infinite-scroll-component{
  overflow: unset ;
}

.app-route-transition-container{
  position: relative;
}



.my-masonry-grid {
  display: flex;
}
.my-masonry-grid_column {
  box-sizing: border-box;
  &:nth-child(1) {
    padding-right: 16px;
    @media all and (max-width: $tablet) {
      padding: 0;
    }
  }

  &:nth-child(2){
    padding-left: 16px;
    @media all and (max-width: $tablet) {
      padding: 0;
    }
  }

  /*
    Fixes for masonry because of using pre-render
  */
  @media all and (max-width: $tablet) {
    width: 100% ;
    &:not(:first-child) {
      display: none;
    }
  }

}

.masonry-item {
  display: inline-block;
  margin-top: 32px;
  width: 100%;
  @media all and (max-width: $tablet) {
    margin-top: 16px;
    width: 100%;
  }
}



//TODO If there have any problem with UI speed should remove this selectors and add class by js

/*
  Different img size for each column and each item in column.
   If there have any problem with UI speed should add class by js function.
*/
.my-masonry-grid_column {

  &:nth-child(2n) {

    .masonry-item {
      .media, .media__img-set {
        height: 224px;
      }

      &:nth-child(2n) {

        .media, .media__img-set {
          height: 336px;
        }
      }
    }
  }

  &:nth-child(2n+1) {

    .masonry-item {

      .media, .media__img-set {
        height: 336px;
      }

      &:nth-child(2n) {

        .media, .media__img-set {
          height: 224px;
        }
      }
    }
  }
}
