// Colors
$primary: #CF000F;
$primary-black: #171717;

$primary-grey: #8D8E96;
$secondary-grey: #E8E8E8;

$achievment-active: #FFE5E5;

$primary-orange: #F5B318;

$error: #FF3E14;

// Fonts
$f_rubik: 'Rubik', sans-serif;
$f_spectral: 'Spectral', sans-serif;
$f_TTNorms: 'TTNorms', sans-serif;

$tooltip:#2c3e50;

// enable animation
$use-all: true;

// media
//$tablet: 768px;
$tablet: 812px;
$mobile-sm: 320px;
$mobile: 480px;
$mobile-lg: 576px;

$mobile-header-height: 64px;

/* Sticky img sizes and offsets*/
$img-size: 120px;
$horizontal-offset: 16px;
$vertical-offset: 8px;
