.search-results {
  width: 100%;

  &__search-row {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #E8E8E8;

    @media all and (max-width: 820px) {
      flex-flow: column;
    }
  }

  &__left-container {
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__right-container {
    margin-left: auto;
    width: 100%;
    max-width: 60%;

    @media all and (max-width: 820px) {
      max-width: 100%;
    }
  }
}