.maintenance{
  &__header{
    height: 132px;
    background-color: $primary-black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-text{
      text-align: center;
      font-family: $f_spectral;
      font-weight: 600;
      font-size: 20px;
      line-height: 34px;
      color: black;
      margin-top: 38px;
    }
  }
}
