.journal-menu {
  display: flex;
  padding: 48px 0 32px 0;
  align-items: center;
  justify-content: space-between;

  &__actions {
    display: none;
    position: absolute;
    bottom: 32px;
    right: 15px;

    .sidebar-filter__nav-item {
      display: none;
      margin: 0;
      bottom: 8px;
      left: -25px;

      @media all and (max-width: $tablet) {
        display: flex;
      }
    }

    &_show {
      display: flex;
    }
  }

  @media all and (max-width: $tablet) {
    justify-content: center;
    flex-direction: column;
    align-items: normal;
    //padding: 0 0 20px 0;
    padding: 0;
  }

  &__toolbar {
    @media all and (max-width: $tablet) {
      @include flexCenterX();
      justify-content: space-between;
    }
  }

  &__icon {
    position: relative;
    display: none;
    cursor: pointer;

    svg path {
      fill: $primary-black
    }

    @media all and (max-width: $tablet) {
      @include flexCenterX();
      display: inline-flex;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    @media all and (max-width: $tablet) {
      background: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 9px 0 9px 16px;
      flex: 1;
      margin-right: 67px;
    }

    &-icon {
      @media all and (max-width: $tablet) {
        margin-right: 8px;
      }
      margin-right: 11px;
    }

    &-input {
      outline: none;
      border: none;
      color: $primary-grey;
      font-size: 14px;
      min-width: 164px;
      font-weight: 300;
    }
  }

  &__search-global-page {
    display: flex;
    align-items: center;
    border: 1px solid #7E8285;

    @media all and (max-width: $tablet) {
      background: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      padding: 2px 2px 9px 6px;
      flex: 1;
    }

    .journal-menu__search-input{
      width: 100%;
    }
    &-icon {
      @media all and (max-width: $tablet) {
        margin-right: 8px;
      }
      margin-right: 11px;
    }

    &-input {
      outline: none;
      border: none;
      color: $primary-grey;
      font-size: 14px;
      min-width: 164px;
      font-weight: 300;
    }
  }

  &__nav {
    display: flex;

    @media all and (max-width: $tablet) {
      overflow: scroll;
      @include removeScrollbar();
      padding: 20px 16px;
      margin: 0 -16px;
    }

    &-item {
      position: relative;
      font-family: $f_rubik;
      font-size: 28px;
      line-height: 38px;
      color: $primary-black;
      transition: all .3s;

      &:not(:last-child) {
        margin-right: 55px;
      }

      @media all and (max-width: $tablet) {
        color: change_color($primary-black, $alpha: 0.3);
        font-weight: 500;
        &:not(:last-child) {
          margin-right: 32px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }

      @media all and (max-width: 1080px) {
        font-size: 26px;
      }

      @media all and (max-width: 880px) {
        font-size: 24px;
      }

      &:before {
        content: '';
        display: block;
        height: 2px;
        width: 40px;
        border-radius: 1px;
        background-color: $primary;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: all .2s;
        opacity: 0;
        @media all and (max-width: $tablet) {
          bottom: -1px;
        }
      }

      &_active {
        transition: all .2s;
        @media all and (max-width: $tablet) {
          color: $primary-black;
        }

        &:before {
          opacity: 1;
        }

        .journal-menu__nav-item-label {
          font-weight: normal;
        }
      }

      &-label {
        font-weight: 300;

        &:before {
          display: block;
          content: attr(label);
          font-weight: 500;
          visibility: hidden;
          overflow: hidden;
          height: 0;
        }
      }

      &-line {
        display: block;
      }
    }
  }
}