.options-dropdown{
  display: flex;
  visibility: hidden;
  flex-direction: column;
  opacity: 0;
  transition: all .1s linear;
  padding: 16px;
  position: absolute;
  top: 46px;
  left: -100px;
  background-color: white;
  line-height: 20;
  font-size: 14px;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.07), 0 0 4px rgba(0, 0, 0, 0.09);
    z-index: -2;
  }
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    right: 20px;
    top: -5px;
    transform: rotate(45deg);
    border-radius: 2px;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.07), 0 0 4px rgba(0, 0, 0, 0.09);
    z-index: -1;
  }

  &_show{
    visibility: visible;
    opacity: 1;
  }
  &__item{
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    &:hover{
      .options-dropdown__label {
        color: $primary;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__label{
    margin-left: 8px;
    font-size: 14px;
    line-height: 20px;
    color: $primary-black;
  }
}