.sort-dropdown{
  display: flex;
  visibility: hidden;
  flex-direction: column;
  opacity: 0;
  transition: all .1s linear;
  padding: 12px 0;
  position: absolute;
  top: 29px;
  right: 0;
  background-color: white;
  line-height: 20px;
  font-size: 14px;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.07), 0 0 4px rgba(0, 0, 0, 0.09);
  min-width: 190px;
  z-index: 10;

  &_show{
    visibility: visible;
    opacity: 1;
  }
  &__item{
    display: flex;
    align-items: center;
    text-transform: none;
    font-weight: 300;
    color: $primary-black;
    padding: 4px 16px;
    text-align: center;

    &:hover{
      color: $primary;
      background-color: change_color($primary, $alpha: 0.05);
    }
  }
}