.notification-figure {
  position: relative;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  @include flexCenterXY();
  border-radius: 50%;
  background-color: transparentize(#2AC8DD, .8);

  &_active {
    &:before {
      content: '';
      display: block;
      @include dot(6px);
      position: absolute;
      top: 0;
      right: 2px;
      border: 2px solid white;
    }
  }

  &_bg_violet {
    background-color: transparentize(#2E2ADD, .8);

  }

  &_bg_orange {
    background-color: transparentize(#F4AC20, .8);

  }
}