.notification-item {
  display: flex;

  &__col {
    flex-grow: 0;
    padding-bottom: 56px;
    width: 100%;
  }

  &__line {
    display: inline-block;
    flex-grow: 1;
    width: 1px;
    padding: 4px 0;
    background-color: $secondary-grey;
    margin: 4px auto;
  }

  &__notice {
    display: inline-flex;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  &__notice-time {
    margin-bottom: 20px;
    color: $primary-grey;
  }

  &__point {
    @include dot(7px);
    background-color: $primary-grey;
    margin: 7px auto 0 auto;
  }

  &__text-mark {
    background-color: transparent;
    color: $primary-grey;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    margin-right: 24px;
    min-width: 40px;
  }

  &_type_menu {
    font-size: 14px;

    &:not(:last-child){
      margin-bottom: 24px;
    }

    .notification-item__notice {
      font-size: 14px;
    }

    .notification-item__notice-time {
      margin-bottom: 0;
    }

    .notification-item__col {
      padding-bottom: 0;
    }

    .notification-item__row {
      @include flexCenterX();

      .notification-item__notice-time {
        margin-right: auto;
      }
    }
  }
}