.notifications-actions-bar {
  font-family: $f_rubik;

  @include flexCenterX();
  justify-content: space-between;
  color: $primary-grey;
  line-height: 20px;
  font-weight: 500;
  font-family: $f_rubik;
  &__count {
    @include flexCenterX();

    &:before {
      content: '';
      display: block;
      @include dot(6px);
      margin-right: 8px;
    }

  }
}