.article-widget {
  width: 100%;
  font-family: $f_rubik;
  color: $primary-black;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F8FAFC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  transition: all .3s ease;
  position: relative;

  &:hover {
    .media {
      &__img:not(.collection-img) {
        transform: scale(1.1);
        position: relative;
      }

      &__overlay {
        opacity: .3;
      }
    }
  }

  &:hover {
    box-shadow: 14px 30px 69px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;

    .article-widget__notice {
      color: red;
    }

    .media__icon {
      svg {
        path {
          transition: .3s ease;
          fill: transparentize(white, 0.6);
        }
      }
    }
  }

  /*
   Style for TYPE: ads
  */
  &_read {
    border: 1px solid $primary;
  }

  &_ads {
    background: $primary-black;
    color: white;

    .article-widget__details {
      svg {
        path {
          fill: white;
        }
      }
    }

    .wi-label_bg_grey {
      background: transparentize(white, 0.9);
      color: white;
    }
  }

  .wi-btn-sale {
    display: inline-flex;
    width: 108px;
    margin-left: auto;
    padding: 7px 2px 8px 2px;

    > span {
      line-height: 20px;
    }
  }

  /*
  Style for TYPE: video
 */

  /*
    Style for media section
  */

  /*&__media {
    position: relative;
  }

  &__media-icon {
    @include absoluteCenterXY();
    z-index: 3;
    transition: .3s ease;
    svg {
      path {
        transition: .3s ease;
      }
    }
    &:hover {
      svg {
        path {
          transition: .3s ease;
          fill:transparentize(white, 0.6);
        }
      }
    }
  }

  &__media-time {
    display: inline-flex;
    padding: 4px;
    background: rgba(23, 23, 23, 0.6);
    color: white;
    font-size: 12px;
    line-height: 12px;
  }

  &__media-row {
    @include flexCenterX();
    padding: 16px;
  }

  &__media-date {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 7px 8px;
    height: 54px;
    width: 54px;
    color: $primary-black;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    margin: 0 16px 16px auto;
    background-color: white;
  }

  &__media-text {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__media-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: $primary-grey;
  }

  &__media-inner {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0.15deg, rgba(0, 0, 0, 0) 0.15%, rgba(0, 0, 0, 0.23) 99.85%);
      opacity: 0.9;
      z-index: -1;
    }
  }

  &__ribbon {
    height: 28px;
    width: 91px;
    bottom: 16px;
    left: -6px;
    position: absolute;

    @include flexCenterXY();
    background-color: $primary;
    color: white;
    z-index: 2;

    &:before {
      content: '';
      top: -4px;
      left: 0px;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-bottom: 4px solid darken($primary, 12.8);
      border-left: 6px solid transparent;
    }
  }*/

  /*
    Style for content section
  */
  &__message {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }

  &__row {
    @include flexCenterX();
    margin-bottom: 16px;
  }

  &__content {
    padding: 18px 16px 16px;
  }

  &__title {
    font-family: $f_spectral;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    white-space: pre-wrap // Fixes for  LinesEllipsis  plugin !!!
  }

  &__author {
    @include flexCenterX();
    margin-bottom: 16px;
  }

  //TODO Check and delete
  //&__ava {
  //  width: 24px;
  //  height: 24px;
  //  display: flex;
  //  overflow: hidden;
  //  position: relative;
  //  font-size: 1.25rem;
  //  align-items: center;
  //  flex-shrink: 0;
  //  user-select: none;
  //  border-radius: 50%;
  //  justify-content: center;
  //  background-color: $primary-grey;
  //}
  //
  //&__ava-img {
  //  width: 100%;
  //  height: 100%;
  //  object-fit: cover;
  //  text-align: center;
  //}
  &__new-comments {
    display: flex;
    color: $primary;

    svg path {
      fill: $primary;
    }
  }

  &__author-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.0166667em;
    padding-left: 8px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__notice {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: $primary-grey;
    font-weight: 300;
  }

  &__details {
    display: flex;

    svg {
      path {
        fill: $primary-grey;
      }
    }

    .wi-action-detail {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    &-moderation {
      color: $primary;
    }
  }

  /*
  Style for Label
  */
  .wi-label {
    margin-bottom: 12px;

    & + .wi-label {
      margin-left: 8px;
    }
  }

}
