.calendar-widgets {

  .month-divider {
    &__text {
      font-size: 22px;

      @media all and (max-width: 544px) {
        font-size: 16px;
        padding: 0 16px;
      }

    }
  }

  .masonry-item {
    &:nth-child(2n) {
      .calendar-widget {

        .media {
          float: right;
          margin-left: 16px;
          margin-right: 0;

          @media all and (max-width: $tablet) {
            margin-left: 0;
          }

          &__ribbon {
            right: 0;
            left: -6px;

            &:before {
              right: auto;
              left: 0;
              border-bottom: unset;
              border-left: unset;
              border-bottom: 4px solid darken($primary, 12.8);
              border-left: 6px solid transparent;
              border-right: unset;
            }
          }
        }
      }
    }

  }

}
