.calendar-widget {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: $f_rubik;
  color: $primary-black;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F8FAFC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0px 0px 4px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  transition: all .3s ease;
  position: relative;
  padding: 16px 16px 24px 16px;
  box-sizing: border-box;
  min-height: 300px;

  &:hover {
    box-shadow: 14px 30px 69px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;

    .calendar-widget__notice {
      color: red;
    }

    .media__icon {

      svg {
        path {
          transition: .3s ease;
          fill: transparentize(white, 0.6);
        }
      }
    }
  }

  &_overflowed {

  }

  /*
   Style for TYPE: ads
  */

  &_ads {
    background: $primary-black;
    color: white;

    .calendar-widget__footer {
      svg {
        path {
          fill: white;
        }
      }
    }

    .wi-label_bg_grey {
      background: transparentize(white, 0.9);
      color: white;
    }
  }

  .media {
    height: 176px;
    width: 314px;
    float: left;
    margin-right: 16px;

    @media all and (max-width: $mobile-lg) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 8px;
      float: none;
    }

    &__ribbon {
      right: -6px;
      left: auto;

      &:before {
        right: 0;
        left: auto;
        border-bottom: unset;
        border-left: unset;
        border-bottom: 4px solid darken($primary, 12.8);
        border-left: unset;
        border-right: 6px solid transparent;
      }
    }
  }


  &__date {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: $primary-grey;
    margin-bottom: 16px;
  }

  &__content {
    //overflow: hidden;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  &__title {
    font-family: $f_spectral;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    word-break: break-word;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: $tablet) {
      padding: 0;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    //height: 100%;
    &:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child {
      padding-left: 16px;
      border-left: 1px solid $secondary-grey;
    }

    > svg {
      margin-right: 16px;
      @media all and (max-width: $mobile) {
        display: none;
      }
    }

    @media all and (max-width: $tablet) {
      margin-bottom: 10px;
      margin-right: 8px;
      width: calc(50% - 16px);
      align-items: flex-start;

      &:last-child {
        padding-left: 0;
        border-left: unset;

      }
    }

    @media all and(max-width: 989px) and (min-width: $tablet) {
      margin-bottom: 10px;
      margin-right: 8px;
      width: calc(50% - 16px);
      align-items: flex-start;

      &:last-child {
        padding-left: 0;
        border-left: unset;

      }
    }

  @media all and (max-width: $mobile-sm) {
      margin-bottom: 10px;
    }
  }

  &__list-col {
    display: flex;
    flex-flow: column;

    .wi-label {
      justify-content: center;
      margin-bottom: 8px;
    }
  }

  &__list-title {
    font-size: 12px;
    line-height: 18px;
    color: $primary-grey;
  }

  &__list-link {
    font-size: 14px;
    line-height: 20px;
    color: $primary;
  }

  &__list-divider {
    height: 100%;
    width: 1px;
    background-color: $secondary-grey;
  }

  &__list-text {
    font-size: 14px;
    line-height: 20px;
  }

  &__footer {
    display: flex;
    margin-top: -1px;
    padding-top: 25px;
    border-top: 1px dashed $secondary-grey;
  }

  &__notice {
    line-height: 24px;
  }
}
