/*
  Vertical and Horizontal align by Flex
*/
@mixin flexCenterXY {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Vertical align by Flex
*/
@mixin flexCenterY {
  display: flex;
  justify-content: center;
}

/*
  Horizontal align by Flex
*/
@mixin flexCenterX{
  display: flex;
  align-items: center;
}

/*
  AbsoluteCenterXY
*/

@mixin absoluteCenterXY() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

@mixin clearButton() {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: transparent;
}

@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50%);
}

@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
}

/*
  light background and dark text
*/
@mixin transparentizeColor($color, $opacity: null) {
  $opacity: .85 !default;
  @if $opacity != null {
    color: $opacity;
  }
  background-color: transparentize($color, $opacity);
  color: $color
}

@mixin removeScrollbar(){
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    display: none
  }
}

@mixin styledScrollbar(){
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-grey;
  }
}

@mixin dot($size) {
  background-color: $primary;
  height: $size;
  width: $size;
  border-radius: 50%;
}
