/*
* Styles for global calendar section
*/

.legend-item {
  font-size: 14px;
  line-height: 20px;
  @include flexCenterX();

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:before {
    content: '';
    display: block;
  }

  .calendar-legend__item-text {
    padding-left: 8px;
  }
}

.calendar {
  @media all and (max-width: $tablet) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  & + .sidebar-filter {
    .sidebar-filter__body {
      overflow: unset;
    }
  }
  .calendar-legend {
    &__item-primary, &__item-secondary {
      @extend .legend-item
    }

    &__item-primary {
      &:before {
        height: 12px;
        width: 12px;
        border-radius: 3px;
        background: $primary-grey;
      }
    }

    &__item-secondary {
      &:before {
        height: 10px;
        width: 12px;
        border-bottom: 1px solid $primary;
      }
    }

  }
}

