.main-layout{
  display: flex;
  max-width: 1120px;
  margin: auto;
  flex-direction: column;
  position: relative;
  padding: 0 20px;

  &_nosidebar{
    .main-layout__page{
      justify-content: center;
      .main-layout__content{
        padding-left: 0;
      }
    }
  }

  @media all and (max-width: $tablet) {
    padding: 0 16px 104px 16px;
  }

  &__menu{
    border-bottom: 1px solid $secondary-grey;

    @media all and (max-width: $tablet) {
      transition: .2s ease-in;
      visibility: visible;
      opacity: 1;
      top: 0;
      border-bottom: 1px solid whitesmoke;
      width: 100%;
      /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
      margin-left: -16px;
      padding: 0 16px 16px 16px;
      background-color: white;
      z-index: 200;
      position: sticky;
    }

    &_hide {
      @media all and (max-width: $tablet) {
        top: -117px;
        visibility: hidden;
        opacity: 0;
        transition: .2s ease-out;
      }
    }
  }

  &__menu-search-page{
    @media all and (max-width: $tablet) {
      transition: .2s ease-in;
      visibility: visible;
      opacity: 1;
      top: 0;
      // border-bottom: 1px solid whitesmoke;
      width: 100%;
      /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
      margin-left: -16px;
      padding: 0 16px 0 16px;
      background-color: white;
      z-index: 200;
      position: sticky;
    }

    &_hide {
      @media all and (max-width: $tablet) {
        top: -117px;
        visibility: hidden;
        opacity: 0;
        transition: .2s ease-out;
      }
    }
  }

  &__page{
    display: flex;
  }
  &__sidebar {
    border-right: 1px solid $secondary-grey;
    transition: .5s ease;

    &-content {
      width: 207px;
      padding-right: 32px;
      height: 100%;
      &_width {
        width: 308px;
      }
      &_scrollable {
        @include removeScrollbar();
        @media all and (max-width: $tablet) {
          overflow: auto;
        }
      }
      @media all and (max-width: $tablet) {
        width: 100%;
      }
    }

    @media all and (max-width: $tablet) {
      box-sizing: border-box;
      position: fixed;
      top: 0;
      //min-height: -webkit-fill-available;
      height: 100vh;
      height: -webkit-fill-available;
      width: 100%;
      left: -100%;
      bottom: 0;
      padding: 16px;
      background-color: white;
      z-index: 9999999;

      &_show {
        left: 0;
        transition: .5s ease;
      }
    }
  }

  &__content{
    padding-left: 48px;
    max-width: 832px;
    width: 100%;
    position: relative;

    &-row {
      @include flexCenterX();
      padding: 28px 0;
      .wi-btn {
        min-width: 180px;
        margin-right: 24px;
      }
    }

    &-text {
     font-size: 16px;
    }

    @media all and (max-width: $tablet) {
      padding-left: 0;
      max-width: 100vw;
    }
  }
}
