$menu-transition: all .3s;

.header{
  background: $primary-black;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  height: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;

  @media all and (max-width: 1080px) {
    padding: 0 20px;
  }

  @media all and (max-width: $tablet) {
    padding: 0 16px;
  }

  &__icon-block {
    @include flexCenterX();
    margin-left: auto;
  }

  &__icon {
    @include flexCenterX();
    margin-right: 25px;
  }

  &__logo{
    @include flexCenterX();
    height: 56px;
    margin-right: 12px;

    @media all and (max-width: 960px) {
      svg {
        height: 44px;
        width: auto;
      }

    }

    @media all and (max-width: $tablet) {
      svg {
        height: 32px;
        width: auto;
      }
    }
  }
}

@import "menu";
@import "widget";
@import "notification-menu";