
.header {
  &__menu {
    display: flex;
    @media all and (max-width: $tablet) {
      @include flexCenterY();
      justify-content: space-around;
      height: 84px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: white;
      border-top: 1px solid #E8E8E8;
      z-index: 300;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 7px;
      font-size: 12px;
      margin-right: 48px;
      position: relative;
      transition: $menu-transition;

      @media all and (max-width: 1080px) {
        margin-right: 28px;
      }

      @media all and (max-width: 920px) {
        margin-right: 24px;
      }

      @media all and (max-width: $tablet) {
        margin-right: 0;
      }


      &:after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        margin: auto;
        background-color: $primary-black;
        width: 80%;
        bottom: 0;
        transition: $menu-transition;

        @media all and (max-width: $tablet) {
          display: none;
        }
      }

      &:hover {
        .header__menu-item-icon {
          svg path {
            fill: $primary;
          }
        }

        .header__menu-item-label {
          color: $primary;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &_active {
        .header__menu-item-icon {
          svg path {
            fill: $primary;
          }
        }

        &:after {
          background-color: $primary;
        }
      }

      &-notification {
        position: absolute;
        top: -6px;
        right: -2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary;
        color: white;
        text-align: center;
        line-height: 13px;
        font-size: 10px;
        border: 1px solid $primary-black;
        box-sizing: border-box;
        font-family: $f_rubik;
        font-weight: normal;
      }

      &-icon {
        position: relative;

        svg {
          height: 21px;

          path {
            fill: white;
            transition: $menu-transition;
            @media all and (max-width: $tablet) {
              fill: $primary-black;

            }
          }
        }
      }

      &-label {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 11px;
        transition: $menu-transition;
        font-family: $f_rubik;
        font-weight: 300;
        letter-spacing: 0.05em;

        @media all and (max-width: 880px) {
          font-size: 10px;
        }

        @media all and (max-width: $tablet) {
          color: $primary-black;
        }
      }
    }
  }
}