.notification-menu {
  z-index: -1;
  padding: 16px 24px;
  position: absolute;
  background-color: white;
  top: 43px;
  right: -65px;
  border-radius: 3px;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.07), 0px 0px 4px rgba(0, 0, 0, 0.09);
  width: 496px;
  color: $primary-black;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    right: 84px;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .notifications-actions-bar {
    margin-bottom: 16px;
  }

  .notification-list {
    border-top: 1px solid $secondary-grey;
    padding: 20px 0 16px 0;
  }

  &__footer {
    border-top: 1px solid $secondary-grey;
    padding-top: 16px;
    @include flexCenterY();
  }
}

