.header {
  @media all and (max-width: $tablet) {
    height: $mobile-header-height;
  }

  &__widget {
    //width: 270px;
    @include flexCenterX();

    &_open {
      display: block;
    }

    &-unauthenticated {
      font-family: $f_rubik;
      font-weight: normal;

      &-login-btn, &-register-btn {
        height: 30px;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        font-family: $f_rubik;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        &:visited {
          color: white;
        }
      }

      &-login-btn {
        padding: 8px 26px;
        margin-right: 20px;
        transition: $menu-transition;

        @media all and (max-width: $mobile) {
          margin-right: 4px;
        }

        @media all and (max-width: 376px) {
          padding: 7px 14px;
        }

        &:hover {
          color: $primary;
          border-color: $primary
        }
      }

      &-register-btn {
        background-color: $primary;
        border: 1px solid $primary ;
        padding: 8px 16px;
        transition: $menu-transition;

        @media all and (max-width: 376px) {
          padding: 7px;
        }

        &:hover {
          color: $primary;
          background-color: $primary-black;
        }

        @media all and (max-width: $tablet) {
          display: none;
        }
      }
    }

    &-authenticated {
      //height: 80px;
      font-family: $f_rubik;
      font-weight: normal;
      position: relative;

      &-container {
        display: flex;

        .wi-ava {
          border-width: 2px;
          cursor: pointer;

          @media all and (max-width: $tablet) {
            width: 40px;
            height: 40px;
          }
        }
      }

      &-user {
        display: flex;

        &-name {
          font-size: 14px;
          line-height: 20px;
          color: white;

          @media all and (max-width: $tablet) {
            color: $primary-black;
          }
        }

        &-status {
          font-size: 12px;
          line-height: 18px;
          color: #8C8C8C;
          padding-top: 2px;

          &--gold-user {
            .header__widget-authenticated-user-status-value {
              color: #EAAA2E;
            }
          }
        }

        &-status-value {
          text-transform: none;
          margin-left: 3px;
          color: white;
          font-weight: bold;
        }
      }

      &-menu {
        @include flexCenterX();
        color: white;
        height: 22px;
        padding-top: 15px;

        .header__widget-authenticated-menu-dropdown-list {
          top: 32px;
          right: -13px;
        }

        &-separator {
          width: 1px;
          height: 12px;
          background-color: rgba(255, 255, 255, 0.3);
          flex-grow: 0;
        }

        &-notification {
          position: relative;
          padding: 8px 16px 8px 0;

          > svg path {
            transition: .3s ease;
          }

          &:hover {
            .notification-menu {
              z-index: 900;
              opacity: 1;
              visibility: visible;
              transition:  .3s ease;
            }

            .header__widget-authenticated-menu-notification-icon {
              > svg path {
                fill: $primary-grey;
                transition: .3s ease;
              }
            }
          }

          &-icon {
            display: inline-block;
            position: relative;
            cursor: pointer;

            > svg path {
              transition: .3s ease;
            }

            &-counter {
              position: absolute;
              top: -6px;
              right: -2px;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background-color: $primary;
              color: white;
              text-align: center;
              line-height: 13px;
              font-size: 10px;
              border: 1px solid $primary-black;
              box-sizing: border-box;
              font-family: $f_rubik;
            }
          }

          &_mobile {
            @media all and (min-width: $tablet) {
              display: none;
            }
          }
        }

        &-balance {
          padding: 4px 16px;

          &-value {
            @include flexCenterX();
            font-size: 12px;
            line-height: 18px;
            position: relative;
            padding-left: 26px;
            color: white;

            @media all and (max-width: $tablet) {
              color: $primary-black;
            }

            &::before {
              content: '';
              display: block;
              width: 23px;
              height: 19px;
              background-image: url('../images/icons/header/coin.svg');
              position: absolute;
              left: 0;
              top: -1px;
              background-size: cover;
              background-position: center;
            }
          }
        }

        &-dropdown {
          position: relative;

          &-button {
            position: relative;
            font-size: 18px;
            align-items: center;

            &:hover {
              .header__widget-authenticated-menu-dropdown-list {
                opacity: 1;
                visibility: visible;
                transition: .3s ease;
              }

              .wi-btn-property {
                .dot {
                  background-color: $primary-grey;
                  transition: .3s ease;
                }
              }
            }

            .wi-btn-property {
              padding: 8px 16px;


              .dot {
                width: 4px;
                height: 4px;
                background-color: white;
                border-radius: 50%;
                transition: .3s ease;

                &:not(:last-child) {
                  margin-right: 4px;
                }
              }
            }

          }

          &-list {
            flex-direction: column;
            position: absolute;
            background-color: white;
            color: $primary-black;
            list-style: none;
            padding: 24px;
            font-family: $f_rubik;
            font-weight: 300;
            font-size: 14px;
            width: 150px;
            top: 24px;
            right: -24px;
            border-radius: 2px;
            box-shadow: 0 0 5px #DADADA;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
            z-index: 30;

            .wi-btn__link {
              display: inline-flex;
              font-weight: 300;
            }

            &_show {
              transition: .5s ease;
              opacity: 1;
              visibility: visible;
            }

            @media all and (max-width: $tablet) {
              box-sizing: border-box;
              width: 100vw;
              height: calc(100vh - 64px);
              top: $mobile-header-height;
              left: -100vw;
              z-index: 300;
              position: fixed;
              transition: .5s ease;
              opacity: 1;
              visibility: visible;

              &_show {
                display: flex;
                left: 0;
                transition: .5s ease;
                opacity: 1;
                visibility: visible;
              }
            }

            &-corner {
              width: 15px;
              height: 15px;
              background-color: white;
              border-radius: 2px;
              position: absolute;
              top: -7px;
              right: 32px;
              transform: rotate(45deg);

              @media all and (max-width: $tablet) {
                display: none;
              }
            }

            &-item {
              line-height: 20px;
              //margin-bottom: 32px;
              margin-bottom: 16px;
              align-items: center;
              cursor: pointer;
              transition: all .2s;
              display: inline-block;
              color: $primary-black;
              font-weight: 300;

              &:hover {
                color: $primary;

                svg path {
                  fill: $primary;
                }
              }

              @media all and (max-width: $tablet) {
                display: flex;
                align-items: center;
                margin-bottom: 32px;
                svg path {
                  fill: $primary-black;
                }

                &:hover {
                  color: $primary-black;

                  svg path {
                    fill: $primary-black;
                  }
                }
              }

              &:last-child {
                margin-bottom: 0;
                padding-top: 16px;
                border-top: 1px solid #EDEDED;
              }

              @media all and (max-width: $tablet) {
                font-size: 16px;
                line-height: 24px;
              }
            }

            &-text {
              margin-right: auto;
              padding-left: 8px;
            }

          }
        }
      }
    }
  }
}
