.wi-dropdown {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding: 30px 0 30px 0;
  cursor: pointer;
  font-family: $f_rubik;

  &__icon {
    transition: .3s ease;

    &_active {
      transform: rotate(180deg);
      transition: .3s ease;
    }

  }

  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

}