.bookmark {
  display: flex;
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;

    path {
      fill: none;
      stroke: transparentize(white, .4);
      transition: .3s ease;
    }

    &:hover {
      path {
        stroke: transparentize(white, 0);
        transition: .3s ease;
      }
    }
  }

  &_active {
    svg {

      path {
        fill: $primary;
        stroke: $primary ;
      }

      &:hover {
        path {
          stroke: $primary;
          fill: $primary;
        }
      }
    }
  }
}