.wi-chip {
  @include flexCenterXY();
  padding: 3px 8px 3px 10px;
  background: transparentize(white, .2);
  //backdrop-filter: blur(6px);
  color: $primary;
  border-radius: 100px;

  > svg {
    margin-right: 6px;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
  }


  &_bg_dark {
    padding: 3px 8px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    //backdrop-filter: blur(6px);
  }
}