.document-description {
  font-family: 'Rubik', sans-serif;

  &__section {

  }

  &__section-first {
    margin-bottom: 46px;
  }

  &__section-second {
    margin-bottom: 96px;
    .document-description__title {
      margin-bottom: 22px;
    }
    .document-description__text {
      display: inline-block;
      &:not(:last-child) {
        margin-bottom: 26px;
      }
    }
  }

  &__section-third {
    margin-bottom: 226px;
    .document-description__title {
      margin-bottom: 75px;
    }
  }

  &__section-fourth {
    margin-bottom: 112px;
    .document-description__title {
      margin-bottom: 61px;
    }
  }

  &__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
  }

  &__pic {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }

  &__img {
    padding: 38px;
    width: 500px;
    height: 282px;
    margin: 0 auto;
    border-right: 3px;
  }

  &__row {
  display: flex;
  justify-content: center;

    & + .document-description__row {
      padding-top: 71px;
    }
  }

  &__author {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 300px;
    margin: 0 36px;
    .document-description__text {
      text-align: center;
    }
  }

  &__ava {
    height: 116px;
    width: 116px;
    border-radius: 50%;
    margin-bottom: 16px;

    .document-description__info-title {
      font-size: 22px;
      line-height: 28px;
      font-style: italic;
    }

    .document-description__text {
      font-size: 16px;
      line-height: 24px;
    }

    .document-description__pic {
      border-radius: 50%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &:nth-child(3) {
      .document-description__info-img {
        position: relative;
        top: auto;
        bottom: -200px;
        width: 100%;
        max-width: 325px;
        height: 183px;
      }
    }

    &:nth-child(4) {
      .document-description__info-img {
        position: relative;
        top: 140px;
        width: 325px;
        height: 183px;
        margin: 0 auto;
      }
    }

    &:nth-child(5) {
      .document-description__info-img {
        position: relative;
        top: auto;
        bottom: -240px;
        width: 100%;
        max-width: 325px;
        height: 218px;
      }
    }

    &-conteiner {
      position: relative;
    }

    &-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 26px;
    }

    &-subtitle {
      position: relative;
      left: -2px;
      bottom: -4px;
      font-size: 40px;
      line-height: 26px;

      &_c_grey {
        color: #171717;
        opacity: 0.1;
      }

      &_c_red {
        color: #CF000F;
        opacity: 0.1;
      }
    }

    &-img {
      height: 205px;
      width: 233px;
      position: absolute;
      border-radius: 3px;

      &:first-child {
        position: absolute;
        top: 50%;
        transform: translateY( -50%);
        left: 0;
        z-index: 30;
      }

      &:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
      }

      &:nth-child(3) {
        position: absolute;
        left: 50%;
        transform: translateX( -50%);
        bottom: 0;
      }
    }

    &-side {
      display: flex;
      justify-content: center;
      flex-flow: column;
      width:calc(50% - 22px);
    }
  }

  &__info-img-side {
    height: 344px;
    position: relative;
  }

}
//
//.document-description {
//  font-family: 'Rubik', sans-serif;
//}
//.document-description__section-first {
//  margin-bottom: 46px;
//}
//.document-description__section-second {
//  margin-bottom: 96px;
//}
//.document-description__section-second .document-description__title {
//  margin-bottom: 22px;
//}
//.document-description__section-second .document-description__text {
//  display: inline-block;
//}
//.document-description__section-second .document-description__text:not(:last-child) {
//  margin-bottom: 26px;
//}
//.document-description__section-third {
//  margin-bottom: 226px;
//}
//.document-description__section-third .document-description__title {
//  margin-bottom: 75px;
//}
//.document-description__section-fourth {
//  margin-bottom: 112px;
//}
//.document-description__section-fourth .document-description__title {
//  margin-bottom: 61px;
//}
//.document-description__title {
//  font-size: 28px;
//  line-height: 38px;
//  margin-bottom: 32px;
//}
//.document-description__text {
//  font-size: 18px;
//  line-height: 26px;
//}
//.document-description__pic {
//  object-fit: cover;
//  height: 100%;
//  width: 100%;
//  border-radius: 3px;
//}
//.document-description__img {
//  padding: 38px;
//  width: 500px;
//  height: 282px;
//  margin: 0 auto;
//  border-right: 3px;
//}
//.document-description__row {
//  display: flex;
//  justify-content: center;
//}
//.document-description__row + .document-description__row {
//  padding-top: 71px;
//}
//.document-description__author {
//  display: flex;
//  flex-flow: column;
//  align-items: center;
//  max-width: 300px;
//  margin: 0 36px;
//}
//.document-description__author .document-description__text {
//  text-align: center;
//}
//.document-description__ava {
//  height: 116px;
//  width: 116px;
//  border-radius: 50%;
//  margin-bottom: 16px;
//}
//.document-description__ava .document-description__info-title {
//  font-size: 22px;
//  line-height: 28px;
//  font-style: italic;
//}
//.document-description__ava .document-description__text {
//  font-size: 16px;
//  line-height: 24px;
//}
//.document-description__ava .document-description__pic {
//  border-radius: 50%;
//}
//.document-description__info {
//  display: flex;
//  justify-content: space-between;
//  margin-bottom: 100px;
//}
//.document-description__info:nth-child(3) .document-description__info-img {
//  position: relative;
//  top: auto;
//  bottom: -200px;
//  width: 325px;
//  height: 183px;
//}
//.document-description__info:nth-child(4) .document-description__info-img {
//  position: relative;
//  top: 140px;
//  width: 325px;
//  height: 183px;
//  margin: 0 auto;
//}
//.document-description__info:nth-child(5) .document-description__info-img {
//  position: relative;
//  top: auto;
//  bottom: -240px;
//  width: 325px;
//  height: 218px;
//}
//.document-description__info-conteiner {
//  position: relative;
//}
//.document-description__info-title {
//  font-size: 20px;
//  font-weight: 600;
//  line-height: 26px;
//  margin-bottom: 26px;
//}
//.document-description__info-subtitle {
//  position: relative;
//  left: -2px;
//  bottom: -4px;
//  font-size: 40px;
//  line-height: 26px;
//}
//.document-description__info-subtitle_c_grey {
//  color: #171717;
//  opacity: 0.1;
//}
//.document-description__info-subtitle_c_red {
//  color: #CF000F;
//  opacity: 0.1;
//}
//.document-description__info-img {
//  height: 205px;
//  width: 233px;
//  position: absolute;
//  border-radius: 3px;
//}
//.document-description__info-img:first-child {
//  position: absolute;
//  top: 50%;
//  transform: translateY(-50%);
//  left: 0;
//  z-index: 30;
//}
//.document-description__info-img:nth-child(2) {
//  position: absolute;
//  top: 0;
//  right: 0;
//  z-index: 20;
//}
//.document-description__info-img:nth-child(3) {
//  position: absolute;
//  left: 50%;
//  transform: translateX(-50%);
//  bottom: 0;
//}
//.document-description__info-side {
//  display: flex;
//  justify-content: center;
//  flex-flow: column;
//  width: calc(50% - 22px);
//}
//.document-description__info-img-side {
//  height: 344px;
//  position: relative;
//}
