.document{
  font-family: $f_rubik;
  position: relative;
  &__media{
    position: relative;
    .media__img {
      min-height: 412px;
    }
  }
  &__item-list{
    margin-bottom: 64px;
  }
  &__media-player {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
    z-index: 99;
    display: flex;
    justify-content: center;
    width: 100%;

    &_hide {
      opacity: 0;
      visibility:hidden;
      transition: .3s ease;
      z-index: 1;
    }

  }

  &__like-field {
    @include flexCenterY();
    display: inline-flex;
    padding: 12px 16px;
    border-radius: 3px;
    margin-bottom: 48px;
    border: 1px solid $secondary-grey;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    .like {
      @include flexCenterX();
      margin-right: 12px;

      &_active {
        svg path {
          fill: $primary;
          stroke: $primary;
          transition: .3s ease;
        }
      }

      > span {
        display: flex;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }

  &__status {
    @include flexCenterX();
    padding: 25px 0;
    border-bottom: 1px solid $secondary-grey;
    margin-bottom: 24px;

    &-btns {
      display: flex;
      margin-left: auto;
    }
    &-separator {
      display: flex;
      width: 1px;
      background-color: $secondary-grey;
      margin: 0 16px;
    }
  }

  &__label-list{
    margin-top: 16px;
    display: flex;
    .wi-label{
      margin-right: 16px;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__extend {
    @include flexCenterX();
    margin-bottom: 18px;

    .wi-btn-sale {
      margin-left: auto;
    }
  }

  &__extend-text {
  }

  &__content{
    @media all and (max-width: $tablet) {
      iframe{
        width: 100% ;
      }
    }

    img {
      max-width: 100%;
    }
    &-title{
      margin-top: 12px;
      font-family: $f_spectral;
      font-size: 46px;
      line-height: 54px;
      text-transform: uppercase;

      @media all and (max-width: $tablet) {
        font-size: 22px;
        line-height: 34px;
        word-break: break-word;
      }
    }
     &-author{
      @include flexCenterX();
      margin-bottom: 16px;
      margin-top: 20px;

      &-info {
        font-weight: normal;
        padding-left: 8px;
        display: flex;
        flex-direction: column;
      }
      &-name{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.0166667em;
      }
      &-regalia{
        color: $primary-grey;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &-description{
      line-height: 30px;
      color: $primary-black;
      margin-bottom: 24px;
      font-weight: 400;
    }
    &-info {
      margin: 22px 0;
      border-top: 1px solid $secondary-grey;
      border-bottom: 1px solid $secondary-grey;
      padding: 32px 0;
      .calendar-widget__list {
        padding: 0;
      }
      .calendar-widget__list:not(:last-child) {
        margin-bottom: 24px;
      }
      .calendar-widget__list-item {
        height: 100%;
      }
    }

    &-buy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $secondary-grey;
      padding-bottom: 16px;

      &-title {
        font-size: 24px;
        line-height: 32px;
      }

      &-text {
        font-size: 16px;
        line-height: 24px;
        padding: 0 24px;
      }

      &-counter {
        @include flexCenterX();
        flex-flow: row;
      }
    }
  }

  &__social {
    padding-top: 32px;
    width: 100%;
    text-align: center;
    margin-bottom: 56px;
  }

  &__social-title {
    display: inline-block;
    margin-bottom: 32px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: $f_rubik;
    font-size: 14px;
  }

  .divider {
    margin-bottom: 48px;
  }

}
