.global-nav {
  padding: 48px 0 32px 0;
  font-size: 28px;
  line-height: 38px;
  font-family: $f_rubik;
  color: $primary-grey;

  @media all and (max-width: $mobile) {
    font-size: 22px;
    line-height: 32px;
  }

  &__item {
    color: $primary-black;
    position: relative;

    &_back {
      position: relative;
      padding-left: 24px;
      font-weight: 300;
      cursor: pointer;

      &:before {
        content: '';
        width: 7px;
        height: 13px;
        background-image: url('../../images/icons/arrow-back.svg');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &_favourites {
      //color: $primary-black;
      padding-left: 31px;
      //position: relative;

      &:before {
        content: '';
        width: 22px;
        height: 22px;
        background-image: url('../../images/icons/favorite.svg');
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}