.wi-label {
  display: inline-flex;
  @include transparentizeColor($primary-orange);
  border-radius: 2px;
  padding: 2px 8px;

  &__text {
    @include flexCenterXY();
    font-size: 16px;
    line-height: 24px;
  }

  &_bg_grey {
    @include transparentizeColor($primary-black, .9);
  }

  &_bg_red {
    @include transparentizeColor($primary, .9);
  }

  &_sm {
    .wi-label__text {
      font-size: 12px;
    }
  }

  &_style_access{
    float: right;
    background-color: transparent;
    color: $primary;
    padding-left: 21px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 8px;
      background-image: url('../../images/icons/label/check.svg');
      background-position: center;
      background-size: cover;
      left: 0;
    }
  }
}