@keyframes rotate-loading {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
.wi-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: white;
  transition: all .2s;

  &_size_xs{
    .wi-loader__icon{
      width: 12px;
      height: 12px;
    }
  }
  &_size_sm{
    .wi-loader__icon{
      width: 24px;
      height: 24px;
    }
  }
  &_size_md{
    .wi-loader__icon{
      width: 36px;
      height: 36px;
    }
  }
  &_top{
    align-items: start;
    .wi-loader__icon{
      position: absolute;
      top: 100px;
    }
  }
  &_bg_black{
    background-color: $primary-black;
  }
  &_visible{
    visibility: visible;
    opacity: 1;
    transition: all .2s;
  }
  &_fixed{
    position: fixed;
    z-index: 11;
  }
  &_bg_transparent{
    background-color: rgba(255, 255, 255, 0.9);
  }
  &_bg_none{
    background-color: transparent;
  }
  &__icon{
    animation: rotate-loading 1s linear infinite;
  }
}