.media {
  position: relative;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: .3s ease;
  //overflow: hidden;

  &_overflowed {
    overflow: hidden;
    width: 100%;
  }

  &_hide {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
  }

  /*
    Style for Chip
  */
  .wi-chip {
    & + .wi-chip {
      margin-left: 8px;
    }
  }

  /*
    Style for Bookmark
  */
  .bookmark {
    margin-left: auto;
  }

  /*
    TYPES
   */
  &_type_webinar {

    .media__date {
      flex-flow: row;
      align-items: center;
      padding: 6px 8px;

      .media__text {
        padding-left: 9px;
        line-height: 11px;
        text-transform: capitalize;
      }
    }
  }

  &__icon {
    @include absoluteCenterXY();
    z-index: 3;
    transition: .3s ease;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;

    &:hover {
      svg {
        path {
          transition: .3s ease;
          fill: transparentize(white, 0.6);
        }
      }
    }

    svg {
      path {
        transition: .3s ease;
      }
    }
  }

  &__time {
    position: absolute;
    padding: 4px;
    background: rgba(23, 23, 23, 0.6);
    color: white;
    font-size: 12px;
    line-height: 12px;
    left: 16px;
    bottom: 16px;
  }

  &__row {
    @include flexCenterX();
    padding: 16px;
  }

  &__date {
    box-sizing: border-box;
    min-width: 54px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 7px 10px;
    color: $primary-black;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    margin: 0 16px 16px auto;
    background-color: white;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__img-set {
    display: flex;
    flex-flow: row wrap;
    padding: 4px;
    width: 100%;

    .media__img-container {
      display: flex;
      border-radius: 2px;
      height: calc(50% - 8px);
      width: calc(50% - 8px);
      margin: 4px;
      background: #E0E0E0;

      &:last-child {
        @include flexCenterXY();
        font-family: Avenir Next Cyr;
        font-size: 36px;
        line-height: 42px;
        color: white;
      }
    }
  }


  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: $primary-grey;
    border-radius: 3px 3px 0 0;
    transition: all 1s;
  }

  &__overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
  }

  &__inner {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 3px 3px 0 0;
      background: linear-gradient(0.15deg, rgba(0, 0, 0, 0) 0.15%, rgba(0, 0, 0, 0.23) 99.85%);
      opacity: 0.9;
      z-index: -1;
    }
  }

  &__ribbon {
    height: 28px;
    width: 91px;
    bottom: 16px;
    left: -6px;
    position: absolute;
    @include flexCenterXY();
    background-color: $primary;
    color: white;
    z-index: 2;
    text-transform: capitalize;

    & + .media__time {
      bottom: 48px;
    }

    &:before {
      content: '';
      top: -4px;
      left: 0px;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-bottom: 4px solid darken($primary, 12.8);
      border-left: 6px solid transparent;
    }

    &_position_rt {
      right: -6px;
      left: auto;

      &:before {
        right: 0;
        left: auto;
        border-bottom: unset;
        border-left: unset;
        border-bottom: 4px solid darken($primary, 12.8);
        border-left: unset;
        border-right: 6px solid transparent;
      }
    }
  }
}