.month-divider {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  font-family: $f_rubik;

  &__box {
    display: flex;
    align-items: center;
  }

  &__line {
    height: 1px;
    flex-grow: 2;
    background: linear-gradient(0deg, $primary-black, $primary-black), $secondary-grey;
    @media all and (max-width: $mobile) {
      min-width: auto;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    color: $primary-black;
    flex-wrap: nowrap;
    flex-shrink: 0;
    text-transform: capitalize;
    padding: 0 32px;

    &_next {
      padding: 0 0 0 22px;
      @media all and (max-width: 544px) {
        padding: 0 0 0 12px;
      }
    }

    &_prev {
      padding: 0 22px 0 0;
      @media all and (max-width: 544px) {
        padding: 0 12px 0 0;
      }
    }

    &_prev, &_next {
      font-weight: 400;
      font-size: 14px;
      color: $primary-grey;
  }
  }
}
  