.notification {
  position: relative;

  &__paranja {
    position: absolute;
    width: 100%;
    height: 326px;
    left: 0;
    bottom: 113px;
    background: linear-gradient(180.75deg,
      rgba(255, 255, 255, 0) 1.61%, rgba(255, 255, 255, 0.89) 27.69%,
      white 40.9%, #FFFFFF 52.91%, rgba(255, 255, 255, 0.81) 75.49%,
      rgba(255, 255, 255, 0) 98.15%);

    z-index: 2
  }

  &__content {
    position: relative;
    padding: 18px 0 50px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  &__title {
    @include flexCenterX();
    font-family: $f_rubik;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 18px;

    > svg {
      margin-right: 12px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 24px;
    font-family: $f_rubik;
    a{
      margin-left: 8px;
      color: $primary;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .wi-btn {
      width: 180px;
      font-size: 16px;
      line-height: 24px;

      & + & {
        margin-left: 32px;
      }
    }

    @media all and (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
    }

    .wi-btn-sale + .wi-btn-sale {
      margin-left: 32px;

      @media all and (max-width: $tablet) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &__img {
    @include absoluteCenterXY;
    //position: absolute;
    //bottom: 0;
    //left: 0;
    width: 100%;
    max-width: 832px;
    z-index: 1;

    @media all and (max-width: $tablet) {
      height: 100%;
    }

    img {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      text-align: center;
    }
  }
}

.notification-collection {
  position: relative;
  padding: 32px 5px 48px 5px;
  font-family: $f_rubik;
  border-radius: 3px;
  border-top: 1px solid change_color(#BDBDBD, $alpha: 0.4);
  border-left: 1px solid change_color(#BDBDBD, $alpha: 0.4);
  border-right: 1px solid change_color(#BDBDBD, $alpha: 0.1);
  border-bottom: 1px solid change_color(#BDBDBD, $alpha: 0.1);
  box-sizing: border-box;
  background-image: url('../../images/rosesImg.png');
  background-position: center;
  background-size: cover;

  &__paranja {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 113px;
    background: linear-gradient(180deg, #FFFFFF 0.01%, rgba(255, 255, 255, 0.82) 65.77%, rgba(255, 255, 255, 0) 127.17%);
    z-index: 2
  }

  &__info {
    @include flexCenterY();
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
    width: 100%;

    &-item {
      display: flex;
      width: 33.333%;
      justify-content: center;

      &:not(:last-child) {
        border-right: 1px solid $secondary-grey;
      }

      @media all and (max-width: 570px) {
        flex-flow: column;
        align-items: center;
      }

      &-text {
        display: flex;
        flex-direction: column;
        line-height: 1.4em;
        padding-left: 16px;
        @media all and (max-width: 570px) {
          padding: 0;
        }
      }

      &-title {
        font-size: 18px;
        color: $primary-black;
        font-weight: 500;
        @media all and (max-width: $tablet) {
          font-size: 16px;
        }

        @media all and (max-width: $mobile) {
          font-size: 14px;
        }
      }

      &-description {
        font-size: 12px;
        color: $primary-grey;
        text-transform: capitalize;
      }
    }

  }

  &__content {
    position: relative;
    //padding: 18px 0 50px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  &__title {
    @include flexCenterX();
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 18px;

    > svg {
      margin-right: 12px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    max-width: 307px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__row {
    display: flex;
    justify-content: center;

    @media all and (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
    }

    .wi-btn-sale + .wi-btn-sale {
      margin-left: 32px;

      @media all and (max-width: $tablet) {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      text-align: center;
    }
  }
}


