.plans {
  margin-top: 64px;

  &_scrollable {
    max-height: 90vh;
    overflow: scroll;
    box-sizing: border-box;
    @include removeScrollbar();
  }

  &__base-wrapper {
    flex-shrink: 0;
    flex-grow: 0;
    width: 33.33333%;
  }

  &__header {
    font-family: $f_rubik;
    text-align: center;
    padding: 0 32px 32px 32px;

    @media all and (max-width: $tablet) {
      padding: 0;
    }

    &-title {
      font-weight: 300;
      font-size: 40px;
      line-height: 56px;
      text-transform: uppercase;
    }

    &-subtitle {
      font-weight: 200;
      font-size: 22px;
      line-height: 30px;
      margin-top: 22px;
    }
  }

  &__divider {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    &__box {
      display: flex;
      align-items: center;
    }

    &__line {
      height: 1px;
      flex-grow: 2;
      background: linear-gradient(0deg, $primary-black, $primary-black), $secondary-grey;
      @media all and (max-width: $tablet) {
        min-width: auto;
      }
    }

    &__text {
      margin-left: 24px;
      margin-right: 24px;
      font-family: $f_rubik;
      font-weight: 400;
      font-size: 14px;
      color: $primary-black;
      flex-wrap: nowrap;
      text-transform: capitalize;
    }
  }

  &__other {


  }

  &__base {
    margin-top: 48px;

    &-content {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      overflow-x: auto;

      @media all and (max-width: $tablet) {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        @include removeScrollbar();
      }

    }

    &-item {
      display: flex;
      flex-flow: column;
      text-align: center;
      background: #FAFAFA;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05), 0px -1px 4px rgba(0, 0, 0, 0.08);
      border: 1px solid transparent;
      border-radius: 3px;
      flex: 1;
      padding: 24px 16px;
      position: relative;

      @media all and (max-width: $tablet) {
        min-width: 60vw;
        scroll-snap-align: start;
        scroll-snap-stop: normal;
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        min-width: auto;
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &_best {
        border: 1px solid $primary;
      }

      &-best {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-radius: 10px;
        color: #fff;
        width: 86px;
        height: 86px;
        box-shadow: none;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          border: 43px solid transparent;
          border-top: 43px solid $primary;
          border-left: 43px solid $primary;
        }

        &-icon {
          position: absolute;
          transform: rotate(45deg);
          top: -31px;
          left: 29px;
        }

        &-content {
          position: absolute;
          color: white;
          z-index: 1;
          font-size: 12px;
          line-height: 14px;
          width: 100%;
          transform: rotate(-45deg);
          top: 29px;
          right: 7px;
        }
      }

      &-title {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 30px;
        color: $primary-black;
      }

      &-period {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;

        &-label {
          font-size: 16px;
          line-height: 24px;
          color: $primary;
        }

        &-line {
          height: 1px;
          width: 48px;
          background-color: #E0E0E0;
        }
      }

      &-price {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-current {
          font-weight: 500;
          font-family: $f_spectral;
          font-size: 70px;
          line-height: 68px;
          color: $primary-black;
          position: relative;
          display: inline-block;

          &-currency {
            position: absolute;
            font-family: $f_rubik;
            font-size: 40px;
            line-height: 54px;
            font-weight: normal;
            left: -28px;
            top: 7px;
          }

          &-cents {
            position: absolute;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            top: -10px;
            right: -25px;
          }
        }

        &-old {
          font-size: 32px;
          line-height: 42px;
          text-decoration-line: line-through;
          color: change_color($primary-black, $alpha: 0.3);
          font-weight: 300;
          position: relative;
          margin-right: 40px;

          &-currency {
            font-family: $f_rubik;
            position: absolute;
            top: 9px;
            left: -12px;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      &-saving {
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        color: $primary-black;
        margin-top: 20px;
        height: 28px;
        min-height: 28px;
      }

      &-gift {
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        color: $primary-black;
        margin-top: 20px;
        height: 28px;
        min-height: 28px;
      }

      &-description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        margin-top: 24px;
        min-height: 144px;
      }

      &-see-more {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
        color: $primary-grey;
        cursor: pointer;
      }

      &-subscribe {
        margin-top: 48px;

        .wi-btn {
          padding: 8px;
        }
      }

      &-subscribed {
        font-size: 16px;
        line-height: 24px;
        font-family: $f_rubik;
        margin-top: 42px;

        &-title {
          color: $primary;
          text-transform: uppercase;
        }

        &-expired {
          font-weight: 300;
          color: $primary-grey;

          &-value {
            color: $primary-black
          }
        }
      }

      &-divider {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        &-line {
          width: 34px;
          height: 1px;
          background-color: $primary;
        }
      }

      &-advantages {
        margin-top: 24px;

        & + .plans__base-item-subscribe {
          margin-top: auto;
        }

        &-title {
          font-family: $f_spectral;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          max-width: 80%;
          margin: 0 auto;
          color: $primary-black;
          text-align: center;
        }

        &-list {
          text-align: left;
          margin-bottom: 32px;

          &-item {
            color: $primary-black;
            font-size: 14px;
            line-height: 20px;
            margin-top: 24px;
            position: relative;
            padding-left: 20px;
            font-weight: 300;

            &:before {
              content: '';
              display: block;
              width: 11px;
              height: 8px;
              background-image: url('../../images/icons/plan-check.svg');
              background-size: cover;
              position: absolute;
              left: 0;
              top: 5px;
            }

            &_bold {
              font-weight: 400;
            }

            &_disabled {
              color: #B8BAC6;

              &:before {
                width: 10px;
                height: 10px;
                background-image: url('../../images/icons/plan-cross.svg');
                top: 4px;
              }
            }
          }
        }
      }
    }
  }
}