.plans-card {
  display: flex;
  padding: 16px;
  border-radius: 3px;
  background: #FAFAFA;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 255px;
  box-sizing: border-box;
  margin-top: 32px;
  justify-content: space-between;

  @media all and (max-width: $mobile) {
    height: 100%;
    padding-bottom: 24px;
  }

  @media all and (max-width: $mobile) {
    flex-flow: column;
  }

  @media all and (min-width: $mobile) {
    &:nth-child(odd) {
      flex-direction: row-reverse;

      .plans-card {
        &__image {
          margin-right: 0;
          margin-left: 24px;
        }

        &__info {
          text-align: right;
        }

        &__subscribe {
          margin-left: 0;
          //margin-right: 56px;
        }
      }
    }
  }

  &__image {
    height: 100%;
    width: 240px;
    background-size: cover;
    background-position: center;
    margin-right: 24px;

    @media all and (max-width: $mobile) {
      margin: 0 0 32px 0;
      width: 100%;
      height: 223px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    text-align: left;

    @media all and (max-width: $mobile) {
      text-align: center;
    }
  }

  &__title {
    font-family: $f_spectral;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: $primary-black;
    text-transform: uppercase;

    @media all and (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__expiration {
    font-weight: 300;
    margin-top: 44px;
    font-size: 14px;
    line-height: 20px;
    color: $primary-grey;

    @media all and (max-width: $mobile) {
      @include flexCenterX();
      margin: 0;
      font-size: 16px;

      &:before, &:after {
        content: '';
        display: block;
        margin: 0 15px;
        width: 100%;
        border-bottom: 1px solid $secondary-grey;
      }
    }

  }

  &__expiration-value {
    color: $primary;
    font-weight: 400;
    margin-left: 8px;

    @media all and (max-width: $mobile) {
      flex-shrink: 0
    }
  }

  &__expiration-text {
    @media all and (max-width: $mobile) {
      display: none;
    }
  }

  &__description {
    font-family: $f_rubik;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $primary-black;
    margin-top: 16px;

    @media all and (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    //margin-left: 56px;

    @media all and (max-width: $mobile) {
      margin: 0 auto;
    }
  }

  &__price {
    font-family: $f_spectral;
    font-size: 64px;
    line-height: 78px;
    color: $primary-black;
    margin-bottom: 24px;

    @media all and (max-width: $mobile) {
      margin-bottom: 32px;
    }
  }

  &__price-cents {
    position: absolute;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    top: -5px;
    right: -20px;
  }

  &__price-currency {
    font-family: $f_rubik;
    font-size: 32px;
    line-height: 32px;
    position: absolute;
    top: 32px;
    left: -20px;
  }

  &__count {
    position: relative;
  }

  &__button {
    .wi-btn {
      padding: 8px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}