.vote {
  display: flex;
  font-family: $f_rubik;
  flex-flow: column;
  align-items: center;
  margin-top: 18px;
  padding: 32px 40px 48px 40px;
  background: linear-gradient(0deg, white, white), #F8FAFC;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.06);
  border-radius: 3px;

  @media all and (max-width: $mobile) {
    padding: 16px 20px;
  }

  .wi-textarea {
    &::placeholder {
      padding: 32px 0 48px 0 ;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__textarea-field {
    padding-top: 18px;

    .wi-textarea {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      min-height: 128px;
    }

    .wi-btn-close {
      margin-left: auto;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 42px;
    padding: 0 58px;
    margin-bottom: 48px;
    text-align: center;
    font-weight: 600;
     @media all and (max-width: $mobile) {
       padding: 0;
       font-size: 24px;
     }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  &__section {
    display: flex;
    flex-flow: column;
    width: 100%;

    .vote__btn-item:not(:last-child) {
      margin-bottom: 18px;
    }

    &_checked {
      .label, .label:before {
        border-color: $secondary-grey ;
      }
    }
  }

  .wi-btn-add {
  margin: 0 auto 0 0;
  }

  &__row {
    display: flex;
  }

  &__btn-item {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    transition: all 0.5s ease;

    .wi-checkbox {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;

      &:checked + .label {
        color: white;
        background-color: $primary;
        right: 20px;
        transition: all 0.5s ease;

        &::before {
          border-color: white;
          background: $primary;
        }
      }
    }

    .label {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      right: 0;
      padding: 15px 26px;
      border: 1px solid $primary;
      border-radius: 3px;
      transition: all 0.5s ease;

      &:hover {
        right: 20px;
        transition: all 0.5s ease;
      }

      &:before {
        display: inline-block;
        content: "";
        height: 26px;
        width: 26px;
        margin: 0  26px 0 0;
        border: 2px solid $primary;
        border-radius: 50%;
        flex-shrink:0;
      }

      &:after {
        position: absolute;
        left: 30px;
        display: inline-block;
        content: "";
        height: 14px;
        width: 14px;
        border: 4px solid white;
        border-radius: 50%;
      }
    }

    &_active {
      color: white;
      background-color: $primary;

      .label:before {
        border-color: white;
      }

      .label:after {
        border-color: $primary;
      }

    }

    &_inactive {
      color: $primary-black;
      background-color: transparent;
      border-color: $secondary-grey;

      .label:before {
        border-color: $secondary-grey;
      }

      .label:after {
        border-color: white;
      }

    }

  }
}

